body{
    background-color: orange;
}

.center{
    text-align: center;
}
.border{
    border: 3px solid black;
    display: flex;
    font-family: fantasy;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    width: 10rem;
    height: 3rem;  
    background-color: red;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
}

.container{
    border: 3px transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start
    height 90px;
}